
.jumbotron {
    color:orangered;
    margin-top: 50px;
    margin-bottom: 50px;

    /*sticky*/
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 50px;
    z-index: 2;
}

footer{
    background-color:#007bff;
}

footer a{
    color: bisque;
}

div .oi-cloudy{
    font-size: 6em;
}

#carouselExampleControls{
    margin-top: 50px;
    margin-bottom: 50px;
}

.tab-content {
    padding: 10px 0 10px 0;
}

#productos {
    padding-top: 10px;
}